<!-- templates/home.html -->

{% extends 'base.html' %}
{% block title %} Home {% endblock %}
{% block content %}
<div class="row">
    <div class="col-sm-12 mb-3">
        <h4 class="text-center"> Welcome {{ user.username }} </h4>
    </div>
    {% for auth in backends.associated %}

          {% if auth.provider == 'facebook' %}
            <div class="col-md-6 text-center">
                <img src="{{auth.extra_data.picture.data.url}}" alt="" width="150" height="150" style="border-radius: 50%">
            </div>
            <div class="col-md-6 social-container my-2">
                <p>Signed in via: {{ auth.provider }}</p>
                <p>Name: {{ auth.extra_data.name }}</p>
                <p>Provider url: <a href="{{auth.extra_data.profile_url}}">link</a></p>
            </div>
          {% endif %}

        {% endfor %}

        <div class="col-sm-12 mt-2 text-center">
          <button class="btn btn-danger">
            <a href="{% url 'logout' %}">Logout</a>
          </button>
        </div>
</div>
{% for post in posts %}
  {% if post.media %}
    <div class="card" style="width: 18rem;">
      <img src={{post.media.image.src}} class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">{{ post.description }}</p>
      </div>
    </div>
  {% endif %}
{% endfor %}
{% endblock %}