<!-- templates/home.html -->

{% extends 'base.html' %}
{% block nav %}
  {% for auth in backends.associated %}
    {% if auth.provider == 'facebook' %}
      <nav class="navbar fixed-top navbar-dark bg-dark">
        <a class="navbar-brand" href="#">
          <img src="{{auth.extra_data.picture.data.url}}" width="30" height="30" class="d-inline-block align-top mr-2" alt="">
          {{auth.extra_data.name}}
        </a>
        <button class="btn btn-outline-danger my-2 my-sm-0">
          <a class="text-white" href="{% url 'logout' %}">Logout</a>
        </button>
      </nav>
    {% endif %}
  {% endfor %}
{% endblock %}
{% block content %}
<div class="row mt-1">
  {% for post in posts %}
    {% if post.media %}
    <div class="col-sm-12 justify-content-center">
      <div class="card border-dark mx-auto mt-3" style="width: 38rem;">
        <img src={{post.media.image.src}} class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">{{ post.description }}</p>
        </div>
      </div>
    </div>
    {% endif %}
  {% endfor %}
</div>

{% endblock %}